@font-face {
    font-family: Lato-Thin;
    src: url('fonts/Lato-thin.ttf');
}

@font-face {
    font-family: Lato-Black;
    src: url('fonts/Lato-black.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('fonts/Lato-light.ttf');
}

@font-face {
    font-family: Lato-Regular;
    src: url('fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Bold;
    src: url('fonts/Lato-Bold.ttf');
}

.icon {
      color: blue;
      background-color: white;
      font-family: sans-serif;
      font-size: 28px;
      width: 80px;
      height: 80px;
      box-sizing: border-box;
      text-align: center; 
      box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75); 
      line-height: 80px;
      cursor:pointer;
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      border-radius: 50px;
      left: 240px;
      top: 50px;
      position: absolute;
}

.left-menu {
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
}

.logo  {
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;  
}

.nav {
    height: 400px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}

.exit {
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.right-menu {
    width: 350px;
    height: 100%;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}